@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans&display=swap%27');
*
{
    font-family: "Courgette";
}
html
{
    max-width: 99%;
}
body
{
    background-color: #e7e7e7;
    color: black;
    font-size: 18px;
    height: 100%;
}
.rep-contenu-h
{
    height: 140px;
    width: 100%;
    box-sizing: border-box;
}
/*début du header*/
.fond-h
{
    background-color: #e7e7e7;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 8%;
    z-index: 9;
    display: block;
    box-sizing: border-box;
}
.contenu-h /*logo*/
{
    left: 50%;
    max-width: 1500px;
    padding: 20px 20px;
    position: relative;
    transform: translateX(-50%);
    width: 100%;
}
.contenu-h a
{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}
span
{
    box-sizing: border-box;
}
.logo-med 
{
    float: left;
    position: relative;
    height: 140px;
    width: 152px; 
}
.partie-h-b
{
    width: 100%;
    box-sizing: border-box;
}
.haut
{
    height: 45px;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
}
.barre-recherche
{
    margin-left: 9%;
    width: calc(85% - 300px - 50px);
    display: flex;
    align-items: left;
    float: left;
    height: 45px;
    z-index: 1;
    flex-grow: 1;
    border-radius: 10px;
}
form
{
    display:flex;
    width: 200%;
}
.buttonr
{
    background-color: #009193;
    border-radius: 15%;
    box-shadow: transparent;
    margin-left: 4%;
    -webkit-margin-start: 20%;
}
.recherche-auto-flex
{
    align-items: center;
    border: 1px solid inherit;
    display: flex;
    height: 100%;
    padding: 0 10px;
    width: 100%;
}

.h-recherche
{
    background-color: inherit;
    border: 0;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px ;
    position: relative;
    margin: 0;
    line-height: 18px;
    transition: all .3s ease;
    -webkit-user-select: text;    
}
.rechercher
{
    background-color: inherit;
    color: black;
    display: block;
    font-size: 18px;
    margin-left: 10px;
    text-decoration: none;
    box-sizing: border-box;
}
.co-et-regist
{
    width: 200px;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    float: right;
    text-align: right;
    box-sizing: border-box;
}
.connect
{
    cursor: pointer;
    background-color: #009193;
    border-radius: 15px;
    color: black;
    display: inline-block;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
}
.registrer
{
    background-color: #009193;
    border-radius: 15px;
    color: black;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    outline: 0;
    padding: 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.bas
{
    height: 40px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.barre-menus
{
    width: calc(100% -150px);
    text-align: center;
    transform: translateY(55%) translateX(-15%);
    display: flex;
    box-sizing: border-box;
}
.barre-menus-navig
{
    width: 100%;
    box-sizing: border-box;
}
.navig-list
{
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
    padding-left: 25%;
    color: black;
}
ul
{
    list-style-type: none;
    padding: 0 0 0 0.5em;
    margin: 0;
    box-sizing: border-box;
}
.navig-main
{
    font-size: 20px;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid #009193;
    border-radius: 10px;
}
li
{
    display: inline-block;
    box-sizing: border-box;
}
.navig-main-item
{
    margin-right: 15px;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: center;
}
.navig-main-item a
{
    color: #009193;
    display: block;
    text-decoration: none;
}
/*Fin du header, début du main*/
.main-contenu
{
    
    position: relative;
    box-sizing: content-box;
}
#xl-carousel
{
    position: relative;
}
.contenu-a-affiche
{
    margin: auto;
    max-width: 90%;
    box-sizing: border-box;
}
.intro-site
{
   margin: 20px;
   font-size: 46px;
   line-height: 50px;
   display: block;
}
h1
{
    font-weight: inherit;
}
#contenu-a-affiche
{
    margin: 0 10px 10px;
    box-sizing: border-box;
}
.section-film-a-affiche
{
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
   
}
.a-affiche-resultats
{
    display: block;
    margin-left: 25px;
    margin-bottom: 20px;
    padding-bottom: 5px; 
}
.titre-section 
{
    background-color: #009193;
    padding: .5%;
    color: black;
}
.tout-voir
{
    background-color: #009193;
    float: right;
    margin-right: 10px;
    padding: 6px 12px;
    line-height: inherit;
    outline: 0;
    overflow: visible;
    width: auto;
    font-size: 100%;
}
.tout-voir a
{
    color: black;
}
.tout-voir-affiche
{
    font-size: 24px;
    line-height: 36px;
    vertical-align: middle;
}
h2 a
{
    display: inline;
    font-weight: inherit;
    margin: 0;
    padding: .5%;
    color: black;
}
.contenu-film-affiche
{
    display: grid;
    grid-template-columns: repeat(6, max-content);/*nombre maximum d'affiche sur la ligne*/
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img-a-affiche
{
    width: calc(25% - 10px);
    margin: 0 3px 15px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
.film-a
{
    display: block;
}
.a-film
{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}
.img-a-affiche img
{
    height: auto;
}
img
{
    border: 0;
    vertical-align: top;
}
.titre-film-a
{
    color: black;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
span
{
    box-sizing: border-box;
}
.titre-annee .annee-titre
{
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 15px;
    line-height: 17px;
    display: block;
    box-sizing: border-box;
    color: crimson;
    list-style-type: none;
}

.section-film-a-venir-affiche
{
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}
.section-film-a-voir
{
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}
.section-film-vu
{
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}
section
{
    border-bottom: 1px grey solid;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#contener_footer
{
    display: flex;
    flex-direction: inherit;
    padding-left: 10%;
}
