{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Recherche de films{% endblock %}

{% block body %}

<a href="{{ path('welcome') }}">Retour à la recherche</a>

<p>{{ query }}</p>

{% endblock %}