{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ parent() }} - Modifier {% endblock %}

{% block body %}
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary" formnovalidate>
                Modifier 
            </button>
        {{ form_end(form) }}
{% endblock %}
