/*couleur du body du profil*/
#body{
    background-color: #ffffff;
}
/*taille du formulaire+*/
.width{
    width: 40%;
}
/*display flex du formulaire*/
.flex{
    display: flex;
}
/*flex direction entre le titre et le formulaire*/
.flexd{
    flex-direction: column;
}
/*flex direction entre l'avatar et le profil*/
.flexdr{
    flex-direction: row;
}
/*centrer le formulaire*/
.jcenter{
    justify-content: center;
}
/*Police d'ecriture du titre*/
.font{
    font-family: "courgette";
}
/*taille du titre*/
.size{
    font-size: 60px;
}
/*couleur du titre*/
.color:hover{
    color: #02807d;
}
/*couleur de inscrivez-vous*/
.colorin{
    color: #009391;
}
/*Centrer le text de connexion et le titre*/
.textc{
    text-align: center;
}
/*couleur donner au bouton */
.btn-color{
    background-image:linear-gradient(60deg, #02aca9, #2d8d8d);
    color: white;
} 
/*couleur donner au bouton au survol*/
.btn-color:hover{
    background-image:linear-gradient(60deg, #1e9593, #2e8f8d);
    color: white;
}
/*margin a droit du bouton valider*/
.marginr{
    margin-right: 1em;
}
/*margin a gauche de l'avatar et du pseudo*/
.marginl{
    margin-left: 2em;
}
/*margin au dessus du formulaire*/
.margint{
    margin-top: 2em;
}
/*margfint top au dessus du titre*/
.margintop{
    margin-top: 1em;
}
/*style du lien incrivez vous*/
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(85, 85, 85);
    text-decoration: none;
}
/*taille de l'avatar*/
.avatar{
    width: 200px;
}
/*padding droite de la cas profil*/
.paddingr{
    padding-right: 5em;
}
/*taille de la carte contenant avatar et pseudo*/
.carte{
    width: 17rem;
    height: 17rem;
    background-color: #f5f5f5;
}
/*taille de la phrase modifier mdp*/
.modifier{
    font-size: 18px;
}
/*taille du font du profil*/
.taille{
    width: 60%;
}
/*scrool du formulaire profil*/
.scrollform{
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;    
    position: absolute;
    width: 70%;
    display: block;
    height : 25em;
}
/* defini la largeur de la scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
/* scrollbar */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c2c2c2;
}
/*ligne pseudo*/
.ligne{
    background-color:#009391;
    width: 28%;
    height: 26%;
}
/*formulaire*/
form{
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 0.5em;
}
/*aligne items centrer le pseudo*/
.alignit{
    align-items: center;
}
/*margin top entre l'avatar et le pseudo*/
.marget{
    margin-top: 0.5em;
}