/*font pour le titre*/
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Courgette&family=Lobster&display=swap');/*Gabarit*/
/*font police des formulaire de modif*/
.courgette{
    font-family: "courgette";
    font-size: 20px;
}
.lobster{
    font-family: "lobster";
    font-size: 30px;
}
/*debut du gabarit*/
header{
    margin-top: 2em;
}
h1{
    font-family: "courgette";
    font-size: 45px;
}
nav{
    margin-top: 3em;
}
footer{
    width: 100%;
    height: auto;
}
/*Fin du Gabarit*/
/*taille du logo*/
.logo{
    width:50%;
}
/*taille des images*/
.taille{
    width:150px;
    height:165px;
}
/*mettre en display flex*/
.flex{
    display: flex;
}
/*aligner le header*/
.jbetween{
    justify-content: space-around;
}
/*aligner le menu onglet a droite*/
.jflex{
    justify-content: flex-end;
}
/*positition au centre*/
.jcenter{
    justify-content: center;
}
/*mettre les titres en gras*/
.gras{
    font-weight:bold;
}
/* align au centre les boutons */
.aligni{
    align-items: center;
}
/*marge droite des boutons */
.marginr{
    margin-right: 0.5em;
}
/*margin auto pour centrer les bouton du confirmation de suppression*/
.margina{
    margin:auto;
}
/*Marge a gauche*/
.marginl{
    margin-left: 8.8em;
}
/* Marge supérieur */
.margintnull{
    margin-top:0;
}
.margintun{
    margin-top:1em;
}
.paddingr{
    padding-right: 0.1em;
}
/*taille de la police des titres*/
.sizeg{
    font-size: 15px;
}
/*taille ecriture menu*/
.size{
    font-size: 18px;
}
/*marge au dessus du tableau*/
.margint{
    margin-top: 5em;
}
/*margintop des confirmationde suppresion films et users*/
.margt{
    margin-top: 12em;
}
/*marge top confirmation suppression critiques et commentaires*/
.marget{
    margin-top: 8em;
}
/*margin top  entre le tableau et le bouton ajouter film*/
.margintop{
    margin-top: 2em;
}
/* marge sous le tableau*/
.marginb{
    margin-bottom: 1em;
}
/*centrer le text*/
.textc{
    text-align: center;
}
/*justifier le text*/
.texta{
    text-align: justify;
}
/*bouge le bouton ajouter un film*/
.bouge{
    display: flex;
    justify-content: flex-end;
}
/*couleur donner au bouton */
.btn-color{
    background-color: #009391;
    color: white;
} 
/*couleur donner au bouton au survol*/
.btn-color:hover{
    background-color: #006e6d;
    color: white;
}
/*boutton supprimer au survol*/
.btnsup:hover{
    background-color: #860202;
}
/*boutton valider*/
.btnval:hover{
    background-color: #1a7902;
}
/*ul du header*/
.menuh{
    list-style: none;
}
/*li du header*/
.lih{
    padding-right: 1em;
}
/*a du header*/
.lienh{
    color: #3a3a3a;
    font-size: 18px;
}
/*a du header en survol*/
.lienh:hover{
    color: #009391;
    text-decoration: none;
}
.width{
    width:100px;
}
/*scroll de la catégorie critiques*/
.scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    height : 9em;
    text-align: justify;
}
/*scroll des formulaires*/
.scrollform{
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;    
    position: absolute;
    width: 70%;
    display: block;
    height : 36em;
}
/* defini la largeur de la scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
/* scrollbar */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c2c2c2; 
    -webkit-box-shadow: inset 0 0 6px rgba(124, 124, 124, 0.178); 
}
/*scroll de la catégorie synopsis*/
.scrollsy{
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    height : 180px;
    width: 200px;
    text-align: justify;
}
/*définition de lecriture et de la taille du theme*/
#thèmes {
    width: 80%;
    font-size: 14px;
    height: auto;;
}
/*bordure entre les cases*/
#thèmes td, #thèmes th {
    border: 1px solid #e7e7e7;
    padding: 5px;
    width: auto;
}
/* apparence donner au passage de la souris*/
#thèmes tr:hover {
    background-color: #e7e7e7;
}
/*defini la hauteur la couleur et autres detail des cases titres*/
#thèmes th {
    text-align: center;
    background-color: #009391;
    color: white;
}
/*taille de la confirmationde suppression*/
.widthsup{
    width:50%;
}
/*police name de l'utilisateur dans supprimer un user*/
.nameuser{
    font-family: "courgette";
}
/* petite image du tableau film*/
.minimage{
    height: 50px;
    width: 50px;
}
/* message de succes d'ajout de film */
#successmess p{
    color: green;
}
/* rendre invisible un element*/
.invisible{
    display: none;
}
/* position de l'élement relatif a critique */
#lienCritiques{
    position: relative;
}
/* notifier lors de critique non traité */
.notif
{
  position: absolute;
  top: 20%;
  right: 0%;
  width: auto;
  height: 1.5em;
  padding: 0 .75em;
  line-height: 1.5em;
  vertical-align: middle;
  margin: -1.25em 0 0 -2em;
  background: #EC5411;
  border-radius: .2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  font-family: Arial;
  font-size: 20px;
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* mettre en rouge */
.rouge{
    background-color: #d3121244;
}
/* centrer la pagination  */
.pagination{
    justify-content: center;
}
/*couleur de la pagination*/
.color{
    color: rgb(41, 112, 105);
}
/*a au survol de la pagination*/
.apagination:hover{
    color: #02aca9;
    background-color: #e2e2e2;
}